<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Hospital Management System</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('patient_bp.register_patient') }}">Register Patient</a></li>
                <li><a href="{{ url_for('patient_bp.get_all_patients') }}">All Patients</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
<!-- 
    <footer>
        <p>&copy; 2024 Hospital Management System</p>
    </footer> -->
</body>
</html>
